# You can find this in your app at https://developer.spotify.com/
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET

# The login for the database user, please do change the password.
DATABASE_URL=postgres://animedb_dev:A_PASSWORD_TO_POSTGRESS@postgresdb:5432/animedb_dev
POSTGRES_USER=animedb_dev
POSTGRES_DB=animedb_dev
# Make sure this is the same as in DATABASE_URL
POSTGRES_PASSWORD=A_PASSWORD_TO_POSTGRESS

# Make sure this is your redirect uri that is set for your app on https://developer.spotify.com/
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5173/api/callback

# A user that can create and edit files in the database directory
# If you don't know what to put here run 'id' in the terminal and put the numbers associated with your user.
PID=1000
GID=1000